<p><h2>Added to course {{course.name}}</h2></p>

<p>Welcome {{name}}</p>
<p>Section {{studentClass.section}} has been added to {{course.name}} at {{at}}. As you are a member of Section {{studentClass.section}}, please head over to your dashboard for more info on your new course</p>