<p><h2>New Assignment on {{courseName}}</h2></p>
<p>Hello <span>{{name}}</span></p>
<p>Assignment <b>{{assignmentName}}</b> from course <b>{{courseName}}</b> is due on <b>{{deadline}}</b>. Please visit the E-learning platform for more</p>